<div class="container">
    <div class="users">
        <div class="row users__title">
            <h2 class="col-12 users__title--h2">Users List</h2>
        </div>
        <div class="row ">
            <div class="users__container">
                <ul class="col-12 users__container__form">
                    <!--create elements of list-->
                    <li class="list-group-item" *ngFor="let user of users">
                        <div class="row">
                            <div class="col-md-3">
                                <img src={{user.avatar}} class="users__container__form--image">
                            </div>
                            <div class="col-md-9 users__container__form__information">
                                <div class="col-12">
                                    <p>{{user.first_name}} {{user.last_name}}</p>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4"><div class="users__container__form__information--id"> ID: {{user.id}}</div>
                                    </div>
                                    <div class="col-lg-4">
                                        <button class="btn-primary btn">Check Details</button>
                                    </div>
                                    <div class="col-lg-4">
                                        <button class="btn-success btn">Add User</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>